<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IFullWhetherForecast" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:81/Artech.InheritanceHierarchy/FullWhetherForecastService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFullWhetherForecast"
                contract="WhetherForecastService.IFullWhetherForecast" name="WSHttpBinding_IFullWhetherForecast">
              
            </endpoint>
          <endpoint address="http://localhost:81/Artech.InheritanceHierarchy/FullWhetherForecastService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFullWhetherForecast"
                contract="Artech.InheritanceHierarchy.Client.IFullWhetherForecast" name="Client.IFullWhetherForecast">
           
          </endpoint>
        </client>
    </system.serviceModel>
</configuration>